html {
    background-color: var(--color-bg-main);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000000;
    border: none;
    text-decoration: none;
    color: var(--color-font-default);
}

p {
    color: var(--color-font-default);
}

.header-main,
main,
footer {
    padding-inline: clamp(16px, calc((100vw - 400px) * 64 / 840 + 16px), 80px);
}

/* #region shell */
.header-main {
    height: var(--height-header);;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    nav {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 32px;

        a > div {
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;
            span {
                color: green;
            }

            img {
                width: 48px;
                height: 48px;
            }

            .infiction {
                position: absolute;
                bottom: -15px;
                left: 12px;
            }
        }
    }

    .header-circle {
        background-color: var(--color-bg-shell);

        z-index: -1;
        position: absolute;
        bottom: 0;
        transform: translateX(-33svw);

        width: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);
        height: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);

        border-radius: 100%;
    }

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;

        button:hover > span {
            color: var(--color-accent-logo);
        }
    }
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    > div {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        height: 80px;
        width: 100%;
        padding-block: 15px;
        gap: 32px;

        a {
            display: flex;
            align-items: flex-end;
            gap: 16px;

            img {
                width: 48px;
                height: 48px;
                border-radius: 100%;
            }
        }

        a:hover > img {
            box-shadow: 0 0 20px 0 var(--color-accent-logo);
        }

        p {
            text-align: right;
        }
    }

    .footer-circle {
        align-self: center;
        background-color: var(--color-bg-shell);

        z-index: -1;
        position: absolute;
        top: 0;
        transform: translateX(33svw);

        width: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);
        height: clamp(2000px, calc((100dvw - 400px) * 26000 / 1000 + 500dvw), 28000px);

        border-radius: 100%;
    }
}
/* #endregion shell */

main {
    padding-block: var(--padding-block-content);
    flex-grow: 1;
    background-color: var(--color-bg-main);

    margin-top: var(--height-header);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;
}

.userField {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sections);

    p {
        color: var(--color-accent-logo);
        font-weight: bold;
    }
    
    button {
        font-style: italic;
    }

    button:hover {
        color: var(--color-accent-logo);
    }

    input {
        max-width: 100px;
    }

    background-color: var(--color-bg-card);
    padding: 5px;
    border-radius: 5px;
}

.userLogoutField {
    display: none;
}

@media screen and (min-width: 1441px) {
    .header-main,
    footer {
        padding-inline: max(calc(50% - 720px), 80px);
    }
    main {
        padding-inline: max(calc(50% - (720px - 80px)), 80px);
    }
}

@media screen and (max-width: 530px) {
    .header-main > nav > ul {
        justify-content: flex-start;
        gap: clamp(5px, calc((100svw - 270px) * 27 / 260 + 5px), 32px)
    }
}

@media screen and (max-width: 319px) {
    .header-main {
        nav {
            gap: clamp(5px, (100dvw - 275px) * 28 / 43 + 5px, 32px);
        }
    }
}
